<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpPlatform processPath="C:\Users\rpostek\.virtualenvs\privilege-Q8xqppbZ\Scripts\python.exe" arguments="C:\Users\rpostek\PycharmProjects\privilege\sysusers\manage.py runserver %HTTP_PLATFORM_PORT%" stdoutLogEnabled="true" forwardWindowsAuthToken="true">
            <environmentVariables>
                <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
            </environmentVariables>
        </httpPlatform>
        <handlers>
            <add name="MyPyHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <security>
            <authentication>
                <anonymousAuthentication enabled="false" />
                <windowsAuthentication>
                    <providers>
                        <clear />
                        <add value="Negotiate:Kerberos" />
                    </providers>
                </windowsAuthentication>
            </authentication>
        </security>
    </system.webServer>
</configuration>
