{% extends 'syspriv/base.html' %}
{% load syspriv_extras %}
{% block title %}
Zmiana uprawnień
{% endblock %}


{% block content %}
{% for alert in alerts %}
<div class="alert alert-{{alert.type}}" role="alert">
  {{alert.text|safe}}
</div>
{% endfor %}

<h1>{{ person.full_name }}</h1>
{% if roles_add|length > 0 %}
<table style="min-width:80%; border: 1px solid black;">
<tr><td colspan="3" style="border: 1px solid black;padding-left: 5px; background-color: lightgrey;"><b>uprawnienia dodane</b></td></tr>
  {% for role in roles_add %}
  {% cycle '100%' '95%' as brightness silent %}
  <tr style="background-color: #F0FFF0; filter: brightness({{ brightness }});">
    <td style="padding-left: 5px;">{{role.system}}</td>
    <td>{{role.name}}</td>
    <td>{{role.description}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% if roles_remove|length > 0 %}
<br>
<table style="min-width:80%; border: 1px solid black;">
<tr><td colspan="3" style="border: 1px solid black;padding-left: 5px; background-color: lightgrey;"><b>uprawnienia usunięte</b></td></tr>
  {% for role in roles_remove %}
  {% cycle '100%' '95%' as brightness silent %}
  <tr style="background-color: #FFF0F0; filter: brightness({{ brightness }});">
    <td style="padding-left: 5px;">{{role.system}}</td>
    <td>{{role.name}}</td>
    <td>{{role.description}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
<p>Krok {{ wizard.steps.step1 }} z {{ wizard.steps.count }}</p>
<form action="" method="post">
  {% csrf_token %}
  <table>
  {{ wizard.management_form }}
  {% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
      {{ form }}
    {% endfor %}
  {% else %}
    {% for field in wizard.form.base_fields.roles.choices %}
      <p>
                  <input type="checkbox" name="systems" value="{{field.0}}" id="id_systems_{{choice.0}}">
                {{ field.0|get_role_object:"system" }} {{ field.0|get_role_object:"name" }} {{ field.0|get_role_object:"description" }}</p>
    {% endfor %}
    {{ wizard.form }}
  {% endif %}
  </table>
  {% if wizard.steps.prev %}
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">&lt;&lt;</button>
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">&lt;</button>
  {% endif %}
  <input type="submit" value="OK"/>
</form>
{% endblock %}
