{% extends 'syspriv/base.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
<H3>
  Zalogowany użytkownik {{ user }}
  {% for group in groups %}
    <span class="badge bg-success"; style="font-size: 70%;">{{group}}</span>
  {% endfor %}
</H3>
{% if ad_user %}
  <H3>{{ad_user.first_name}} {{ad_user.last_name}}<br/></H3>
  <p><i>{{ ad_user.office }}<br/>{{ ad_user.department }}</i></p>


  {% if 'master' in groups %}
  <p>Podgląd uprawnień wszystkich użytkowników wszystkich systemów.</p>
  {% else %}
    {% if systems_allowed|length > 0 %}
      <p>Podgląd uprawnień użytkowników z własnego wydziału oraz wszystkich użytkowników następujących systemów:</p>
      <ul>
        {% for system in systems_allowed %}
        <li>{{system}}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Podgląd uprawnień użytkowników wyłącznie z własnego wydziału.</p>
    {% endif %}
  {% endif %}
{% endif %}
{% for alert in alerts %}
<div class="alert alert-{{alert.type}}" role="alert">
  {{alert.text}}
</div>
{% endfor %}
{% endblock %}
