{% load syspriv_extras %}
<nav class="navbar navbar-expand navbar-light bg-light no-print">
  <a class="navbar-brand" href="{% url 'home' %}">&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
</svg></a>

  <div class="navbar navbar-light" style="background-color: #e3f2fd;" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'department-list' %}">wydziały</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'people-list' %}">pracownicy</a>
      </li>
      {% endif %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'system-list' %}">systemy</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'commission-list' %}">wnioski</a>
      </li>
      {% endif %}
      {% if request.user|has_group:"master"%}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'update-systems' %}">aktualizacja danych</a>
        </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin/">admin</a>
      </li>
      {% endif %}
      {% if user.is_authenticated %}
        <li class="nav-item active">
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="nav-link">logout</button>
          </form>
        </li>
      {% else %}
      <li class="nav-item active">
        <form method="post" action="{% url 'login' %}?next={% url 'home'%}">
          {% csrf_token %}
          <button type="submit" class="nav-link">login</button>
        </form>
      </li>
      {% endif %}

    </ul>
  </div>
</nav>