{% extends 'staff/base.html' %}

{% block title %}
Pracownicy
{% endblock %}


{% block content %}
<table class="table table-sm">
<tr>
    <th>imię i nazwisko</th>
    <th>stanowisko</th>
    <th style="max-width:12ch;text-align:center;">pokój</th>
    <th>telefon</th>
    <th>GSM</th>
</tr>
    {% for person in staff %}
<tr>
    {% ifchanged person.department%}
    <td colspan="5" style="background-color:beige;"><a href={% url 'department-staff' person.department %} class="link-offset-2 link-underline link-underline-opacity-25"><span class="fw-bold">{{person.department}}</span></a></td>
{% endifchanged %}
</tr>

<tr>
    <td><a href="{% url 'person-detail-staff' person.id %}" class="link-offset-2 link-underline link-underline-opacity-25">{{person.first_name}} {{person.last_name}}</a></td>
    <td><a href={% url 'title-staff' person.title %} class="link-offset-2 link-underline link-underline-opacity-25">{{person.title}}</a></td>
    <td style="max-width:12ch;text-align:center;">{% if person.room_number %}<a href={% url 'room-staff' person.room_number %} class="link-offset-2 link-underline link-underline-opacity-25">{{person.room_number}}</a>{% endif%}</td>
    <td>{% if person.office_phone|length > 5 %}{{person.office_phone|slice:"-5:"}}{% endif%}<a href="xmpp://{{person.emailaddress}}" class="link-underline-light">💬</a> <a href="mailto:{{person.emailaddress}}" class="link-underline-light">✉</a></td>
    <td>{% if person.mobile_phone %}{{person.mobile_phone|slice:"-9:-6"}} {{person.mobile_phone|slice:"-6:-3"}} {{person.mobile_phone|slice:"-3:"}}{% endif%}</td>
</tr>

{% endfor %}
</table>
{% endblock %}