<h3>{{person.first_name}} {{person.last_name}}</h3>
<table class="table table-sm" style="width:80ch;">
    <tr style="width:15ch;">
        <td class="names">wydział</td>
        <td><a href={% url 'department-staff' person.department %} class="link-offset-2 link-underline link-underline-opacity-25">{{person.department}}</a></td>
    </tr>
    <tr>
        <td class="names">stanowisko</td>
        <td><a href={% url 'title-staff' person.title %} class="link-offset-2 link-underline link-underline-opacity-25">{{person.title}}</a></td>
    </tr>
    {% if person.room_number %}
        <tr>
            <td class="names">pokój</td>
            <td><a href={% url 'room-staff' person.room_number %} class="link-offset-2 link-underline link-underline-opacity-25">{{person.room_number}}</a></td>
        </tr>
    {% endif%}
        <tr>
            <td class="names">e-mail</td>
            <td><a href="mailto:{{person.emailaddress}}" class="link-offset-2 link-underline link-underline-opacity-25">{{person.emailaddress}}</a></td>
        </tr>
    {% if person.office_phone|length > 5 %}
        <tr>
            <td class="names">tefefon</td>
            <td>{{person.office_phone|slice:"-5:"}}<a href="xmpp://{{person.emailaddress}}" class="link-underline-light">💬</a></td>
        </tr>
    {% endif%}
    {% if person.mobile_phone %}
        <tr>
            <td class="names">telefon komórkowy</td>
            <td>{{person.mobile_phone|slice:"-9:-6"}} {{person.mobile_phone|slice:"-6:-3"}} {{person.mobile_phone|slice:"-3:"}}</td>
        </tr>
    {% endif%}
     {% if manager %}
        <tr>
            <td class="names">przełożony</td>
            <td><a href="{% url 'person-detail-staff' manager.id %}" class="link-offset-2 link-underline link-underline-opacity-25">{{manager.first_name}} {{manager.last_name}}</a></td>
        </tr>
    {% endif %}
    {% if staff %}
    <tr>
        <td class="names">podwładni</td>
        <td>
            <ul>
                {% for s in staff %}
                    <li><a href="{% url 'person-detail-staff' s.id %}" class="link-offset-2 link-underline link-underline-opacity-25">{{s.first_name}} {{s.last_name}}</a></li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endif %}
</table>