


<h3>
    {% if person.thumbnail %}
         <img src="data:image/png;base64, {{person.thumbnail}}" alt="thumb" width="120" height="120" style="border-radius: 10%;"/>
    {% endif %}
    {{person.first_name}} {{person.last_name}}
</h3>


<table class="table table-sm" style="width:80ch;">
    <tr style="width:15ch;">
        <td class="names">wydział</td>
        <td><a href={% url 'department-staff' person.department %} class="link-offset-2 link-underline link-underline-opacity-25">{{person.department}}</a></td>
    </tr>
    <tr>
        <td class="names">stanowisko</td>
        <td><a href={% url 'title-staff' person.title %} class="link-offset-2 link-underline link-underline-opacity-25">{{person.title}}</a></td>
    </tr>
    {% if person.room_number %}
        <tr>
            <td class="names">pokój</td>
            <td><a href={% url 'room-staff' person.room_number %} class="link-offset-2 link-underline link-underline-opacity-25">{{person.room_number}}</a></td>
        </tr>
    {% endif%}
        <tr>
            <td class="names">e-mail</td>
            <td><a href="mailto:{{person.emailaddress}}" class="link-offset-2 link-underline link-underline-opacity-25">{{person.emailaddress}}</a></td>
        </tr>
    {% if person.office_phone|length > 5 %}
        <tr>
            <td class="names">telefon</td>
            <td>{{person.office_phone|slice:"-5:"}}<a href="xmpp://{{person.emailaddress}}" class="link-underline-light">💬</a></td>
        </tr>
    {% endif%}
    {% if person.mobile_phone %}
        <tr>
            <td class="names">telefon komórkowy</td>
            <td>{{person.mobile_phone|slice:"-9:-6"}} {{person.mobile_phone|slice:"-6:-3"}} {{person.mobile_phone|slice:"-3:"}}</td>
        </tr>
    {% endif%}
     {% if manager %}
        <tr>
            <td class="names">przełożony</td>
            <td><a class="tt link-offset-2 link-underline link-underline-opacity-25" label="{{manager.full_name}}">{{manager.first_name}} {{manager.last_name}}</a></td>
        </tr>
    {% endif %}
    {% if staff %}
    <tr>
        <td class="names">podwładni</td>
        <td>
            <ul>
                {% for s in staff %}
                    <li><a class="tt link-offset-2 link-underline link-underline-opacity-25" label="{{s.full_name}}">{{s.first_name}} {{s.last_name}}</a></li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endif %}
</table>

<script>

    $(".tt").click(function(){
      $("#tree").jstree().deselect_all(true);
      //$("#tree").jstree("close_all");
      $('#tree').jstree('select_node', $(this).attr("label"));
    });

</script>